.header, .hero{
    background-color: #000000;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/desktop/1/1.jpg);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: right;
    width: 1440px;
}

img {
    display: block;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 72px;
}
.page-navigation-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    cursor: pointer;
}
.page-navigation-list-item {
    padding: 32px 24px;
    color: var(--White, #FFF);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    list-style-type: none;
}

/* =============HERO=============== */
.hero {
    padding: 80px 40px 84px 0;
    display: flex;
}
.hero-div {
    position: absolute;
    margin-left: 662px;
    margin-top: 141px;
}
.hero-title { 
    display: block;
    margin: 0;
    width: 738px;
    color: var(--White, #FFF);
    font-family: Sen;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hero-title-span {
    color: rgba(255, 255, 255, 0.50); 
}
.hero-text {
    display: block;
    margin: 0;
    padding-top: 32px;
    width: 738px;
    color: var(--White, #FFF);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* ============= / HERO=============== */

/* ============= Section 2 - EXPERIENCE =============== */
.experience-section {
    background-color: #000000;
    width: 1440px;
    padding: 120px 72px;
}
.work-experience {
    margin: 0;
    color: var(--Light-Grey, #8491A0);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    text-transform: uppercase;
}
.companies-experience {
    width: 690px;
    margin-top: 8px;
    margin-bottom: 40px;
    color: var(--White, #FFF);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.companies-experience-list {
   margin: 0;
   padding: 0; 
   display: flex;
   gap: 72px;
}
.company-number {
    width: 126px;
    margin: 0;
    color: #8491A0;
    font-family: Sen;
    font-size: 117px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.company-name {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 22px;
    color: var(--White, #FFF);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;  
}
.green {
    color: var(--Green_Accent, #3CC74E);
}
.blue {
    color: var(--Blue_Accent, #609BFF);
}
.pink {
    color: var(--Pink_Accent, #E95D90);
}
.company-description {
    width: 368px;
    color: var(--Light-Grey, #8491A0);
    margin: 0;
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
/* ============= / Section 2 - EXPERIENCE =============== */

/* ===================== Section 3 PHILOSOPHY ====================== */
.philosophy {
    width: 1440px;
    display: flex;

}
.philosophy-text-div {
    display: flex;
    flex-direction: column;
   align-content: space-between;
    padding: 120px 72px;
background-color: #FFF3E4;
}
.philosophy-title {
    margin: 0;
    color: var(--Level-1, #181823);

/* Heading - 55px */
font-family: Sen;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.philosophy-text {
 display: block;
    width: 576px;
    margin: 0;
    padding-top: 24px;
    color: var(--Dark-grey, #5B6876);

/* Pargraph_18px */
font-family: Sen;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
.philosophy-link {
    display: flex;
    color: var(--Level-1, #181823);

/* Paragraph_16px */
font-family: Sen;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
text-decoration: underline;
text-underline-offset: 8px;
text-decoration-thickness: 1px;
text-decoration-color: #8491A0;

}
/* .philosophy-link::after {
    content: '';
    left: 0;
    bottom: 10px;
    background-color:  #8491A0;
    width: 116px;
    height: 1px;
} */

/* ===================== / Section 3 PHILOSOPHY ====================== */

/* 
=============================  Section 4 SKILLSET ========================== */
.skillset-section {
padding: 120px 72px;
width: 1440px;
height: 664px;
background-color: #000000;
display: flex;
justify-content: space-between;
gap: 48px;
}
.skillset-title {
    color: #FFF;
font-family: Sen;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
}
.skillset-text {
    color: var(--Light-Grey, #8491A0);
margin: 0;
padding-top: 24px;
width: 368px;
/* Pargraph_18px */
font-family: Sen;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}


.skillset-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    row-gap: 48px;
    column-gap: 24px;
}

.skillset-list-item-title {
    color: var(--White, #FFF);
margin: 0;
padding-top: 24px;
padding-bottom: 12px;
/* Heading_24px */
font-family: Sen;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
}
.skillset-list-item-text {
    color: var(--Light-Grey, #8491A0);
    width: 368px;
    margin: 0;
/* Paragraph - 16px */
font-family: Sen;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
/* 
=============================  /Section 4 SKILLSET ========================== */

/* 
=============================  Section 5 ICONS ========================== */
.icons-section {
    background-color: #000000;
}
.icons-section-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.icons-section-list-item {
    width: 340px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Level-1, #181823);
}

/* 
=============================  /Section 5 ICONS ========================== */

/* 
=============================  Section 6 PROJECTS ========================== */
.projects-section {
    background-color: #000000;
    margin: 0;
    padding: 120px 72px;
    display: flex;
    gap: 24px;
} 
.projects-section-title {
    margin: 0;
    color: var(--Light-Grey, #8491A0);

/* Overline_16px */
font-family: Sen;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
text-transform: uppercase;
}
.projects-section-description {
    color: var(--White, #FFF);
    width: 572px;
/* Heading - 55px */
font-family: Sen;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 8px;
margin-bottom: 80px;
}
.projects-section-list {
    display: flex;
    flex-direction: column;
 gap: 24px;
padding: 0;
margin: 0;
}
.projects-section-list-item {
    background: var(--Level-1, #181823);
   
width: 636px;
}
.projects-section-list-item-description {
    padding: 40px 32px;
}
.projects-section-list-item-title {
    color: var(--White, #FFF);
margin: 0;
padding-bottom: 13px;

    /* Heading_24px */
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */ 
}
.projects-section-list-item-text {
    margin: 0;
    color: var(--Light-Grey, #8491A0);
    width: 572px;
/* Pargraph_18px */
font-family: Sen;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
.projects-section-btn {
    min-width: 247px;
    height: 75px;
    display: flex;
    color: var(--White, #FFF);
background-color: transparent;
/* Button_18px */
font-family: Sen;
font-size: 18px;
font-weight: 700;
line-height: 150%;
text-transform: uppercase;

padding: 24px 32px;
align-items: center;
border: 1px solid var(--Purple, #5221E6);
margin-top: 91px;

                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.right-projects-section {
 margin-top: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}
/* =============================  Section 5 PROJECTS ========================== */

/* =============================  Section 6 Insta ========================== */
.insta-section {
    display: flex;
    flex-direction: row;
}
.insta-section-left {
    background: var(--Violet-Accent, #FBE4FF);
    padding: 120px 72px;
}
.insta-section-title {
    color: var(--Level-1, #181823);
    margin: 0;

/* Heading - 55px */
font-family: Sen;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.insta-section-text {
    color: var(--Dark-grey, #5B6876);
    margin-top: 24px;
    margin-bottom: 134px;
    width: 576px;
/* Pargraph_18px */
font-family: Sen;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
.insta-section-link {
    color: var(--Level-1, #181823);

/* Paragraph_16px */
font-family: Sen;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
/* =============================  /Section 6 Insta ========================== */

/* =============================  Section 7 Dribbble ========================== */
.dribbble-section {
    background-color: #000000;
    padding: 120px 182px;
}

.dribbble-section-title {
    color: var(--White, #FFF);
margin: 0;
    /* Heading - 55px */
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.dribbble-section-text {
    color: var(--Light-Grey, #8491A0);
    width: 636px;
    /* Pargraph_18px */
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin top: 24px;
    margin-bottom: 40px;
} 
.dribbble-section-link {
    color: var(--White, #FFF);

/* Paragraph_16px */
font-family: Sen;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
text-decoration: none;

}
.dribble-img-container {
    margin-top: 124px;
   display: flex; 
   flex-direction: column;
   justify-content: space-between;

   height: 676px;
   width: 1076px;
   background: var(--Level-1, #181823);
   border-radius: 8px 8px 0px 0px;
}
.dribble-section-icon {
margin: 12px 16px;
   

}
.dribble-img {
    display: flex;
align-items: flex-end;
}
/* =============================  /Section 7 Dribbble ========================== */

/* =============================  Section 8 Reviews ========================== */
.reviews-section {
    display: flex;
gap: 24px;
background-color: #000000;
padding: 120px 72px;
}
.reviews-section-left {
    display: flex;
    flex-direction: column;
    width: 636px;
    height: 278px;
    padding-right: 48px;
}
.reviews-section-title {
    color: var(--White, #FFF);
    width: 588px;
    margin: 0;
    /* Heading - 55px */
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.reviews-section-text {
    color: var(--Light-Grey, #8491A0);
    width: 588px;
    margin-top: 24px;
    margin-bottom: 40px;
    /* Paragraph - 18px */
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.reviews-section-link {
    color: var(--White, #FFF);

    /* Paragraph_16px */
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-decoration: none;
}
.reviews-section-right {
display: flex;
flex-direction: column;

}
.reviews-section-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 0;
}

.reviews-section-list-item-text-div {
    padding: 64px;
    width: 636px;
    border: 1px solid var(--Dark-Grey, #5B6876);
}
.reviews-section-list-item-text {
    color: var(--White, #FFF);
    width: 508px;
    /* Heading_24px */
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    margin-top: 0;
    margin-bottom: 64px;
}
.reviews-section-list-item-text-who {
    color: var(--Dark-Grey, #5B6876);

    /* Heading_18px */
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    margin: 0;
}

.reviews-section-list-item-text-company {
    color: var(--Dark-Grey, #5B6876);

    /* Pargraph_18px */
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin: 0;
}
/* =============================  /Section 8 Reviews ========================== */

/* =============================  Section 9 PHOTOGRAPHY ========================== */
.photography-section {
    background-color: #000000;
    margin: 0;
    padding: 120px 72px;
}
.photography-section-title {
    color: var(--White, #FFF);

    /* Heading - 55px */
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.photography-section-text {
    color: var(--Light-Grey, #8491A0);
    width: 588px;
    margin-top: 24px;
    margin-bottom: 64px;
    /* Paragraph - 18px */
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.photography-section-buttons {
display: flex;
gap: 24px;
}
.photography-section-btn {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    color: var(--White, #FFF);

    /* Button_18px */
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
    border: 1px solid var(--Purple, #5221E6);
    background-color: transparent;
}
.photography-section-btn:first-child {
    border: 1px solid var(--Purple, #5221E6);
    background: var(--Purple, #5221E6);
}
.photography-section-btn:focus, .photography-section-btn:hover {
    border: 1px solid var(--Purple, #5221E6);
    background: var(--Purple, #5221E6);  
}
.photography-section-images {
margin-top: 40px;
display: flex;
gap: 24px;
}
/* =============================  /Section 9 PHOTOGRAPHY ========================== */

/* =============================  Section 10 LGStarted ========================== */
.form-section {
background-color: #000000;
display: flex;
padding: 120px 182px;
width: 1440px;

justify-content: center;
align-items: flex-start;
gap: 24px;
}
.form-section-left {

}
.form-section-title {
    color: var(--White, #FFF);
margin: 0;
    /* Heading_55px */
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.form-section-text {
    color: var(--Light-Grey, #8491A0);
    margin-top: 24px;
    width: 526px;
    /* Pargraph_18px */
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.form-section-right {

}
.form-section-label {
        display: block;
        color: var(--White, #FFF);

/* Paragraph_16px */
font-family: Sen;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
        
        margin-bottom: 8px;
    }

.form-section-input {
    width: 526px;
    height: 50px;
    flex-shrink: 0;
    background: var(--Level-1, #181823);
    margin-bottom: 40px;
}
.form-section-comment {
    width: 526px;
height: 100px;
flex-shrink: 0;
    background: var(--Level-1, #181823);
    resize: none;
    border: none;
    margin-bottom: 40px;
    padding: 0;
}
.form-section-btn {
    display: block;
    width: 526px;
    padding: 24px 32px;
    flex-direction: column;
    align-items: center;
    background: var(--Purple, #5221E6);
    border: none;
    color: var(--White, #FFF);

/* Button_18px */
font-family: Sen;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 27px */
text-transform: uppercase;
}

/* =============================  /Section 10 LGStarted ========================== */

/* =============================  FOOTER ========================== */
.footer {
    background-color: var(--Level-1, #181823);
    padding: 80px 72px;
    display: flex;
}
.footer-left {
display: flex;
flex-direction: column;
}
.footer-logo-nav {

}
.footer-logotype {
    width: 130.716px;
    height: 40px;
    flex-shrink: 0;
    fill: #FFF;
    margin-bottom: 32px;
}
.footer-icons-div {
    display: flex;
gap: 16px;
}
.footer-icon { 

}
.footer-text {
    color: var(--Light-Grey, #8491A0);
margin: 0;
padding-top: 142px;
    /* Paragraph_16px */
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.footer-right {
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 196px;
height: 192px;
padding-left: 344px;


}
.footer-link {
    color: var(--White, #FFF);
    width: 196px;
    height: 48px;
    /* Paragraph_16px */
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-decoration: none;
}
/* =============================  /FOOTER ========================== */